* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.main-heading {
  text-align: center;
  margin-top: 50px;
}
.grid-container {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  column-gap: 5px;
  row-gap: 10px;
}
#todo-input {
  font-size: 17px;
  padding: 10px 5px;
  border: 1px solid gray;
  border-radius: 10px;
}
#todo-date {
  font-size: 17px;
  padding: 10px 5px;
  border: 1px solid gray;
  border-radius: 10px;
}
#btn-add {
  font-size: 17px;
  padding: 10px 0;
  background-color: green;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
#btn-delete {
  font-size: 17px;
  padding: 10px 0;
  background-color: maroon;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}